@import "default"

* {
    /* Rosé Pine palette */
    bg:  #191724cc;
    cur: #1f1d2ecc;
    fgd: #e0def4;
    cmt: #6e6a86;
    cya: #9ccfd8;
    grn: #31748f;
    ora: #ebbcba;
    pur: #c4a7e7;
    red: #eb6f92;
    yel: #f6c177;

    font: "JetBrainsMono Nerd Font 11";

    foreground: @fgd;
    background: @bg;

    active-background: @grn;
    urgent-background: @red;

    selected-background: #403d52ee;
    selected-urgent-background: #eb6f92ee;
    selected-active-background: #31748fee;

    separatorcolor: transparent;
    bordercolor: #ebbcbaee;

    urgent-foreground: @fgd;
}

#window {
		width: 650px;
    background-color: @background;
    border: 3px;
    border-radius: 0px;
    border-color: @bordercolor;
    padding: 12px;
}

#mainbox {
    border: 0px;
    padding: 5px;
    background-color: transparent;
}

#message {
    border: 0px;
    padding: 0px;
    background-color: transparent;
    text-color: @cmt;
}

#textbox {
    text-color: @foreground;
    background-color: transparent;
}

#listview {
    fixed-height: true;
    lines: 8;
    columns: 1;
    border: 0px;
    spacing: 2px;
    scrollbar: false;
    padding: 4px 0px 0px;
    background-color: transparent;
}

#element {
    border: 0px;
    border-radius: 0px;
    padding: 8px;
}

#element.normal.normal {
    background-color: transparent;
    text-color: @foreground;
}

#element.normal.urgent {
    background-color: #eb6f92cc;
    text-color: @urgent-foreground;
}

#element.normal.active {
    background-color: #31748fcc;
    text-color: @background;
}

#element.selected.normal {
    background-color: @selected-background;
    text-color: @foreground;
}

#element.selected.urgent {
    background-color: @selected-urgent-background;
    text-color: @foreground;
}

#element.selected.active {
    background-color: @selected-active-background;
    text-color: @background;
}

#element.alternate.normal {
    background-color: transparent;
    text-color: @foreground;
}

#element.alternate.urgent {
    background-color: #eb6f92cc;
    text-color: @foreground;
}

#element.alternate.active {
    background-color: #31748fcc;
    text-color: @foreground;
}

#scrollbar {
    width: 4px;
    border: 0px;
    handle-width: 4px;
    handle-color: #31748fcc;
    padding: 0px;
    background-color: transparent;
}

#sidebar {
    border: 0px;
    background-color: transparent;
}

#button.selected {
    background-color: @selected-background;
    text-color: @foreground;
}

#inputbar {
    spacing: 4px;
    text-color: @foreground;
    padding: 8px;
    background-color: @cur;
    border-radius: 0px;
    border: 0px;
}

#case-indicator {
    spacing: 0px;
    text-color: @foreground;
}

#entry {
    spacing: 0px;
    text-color: @cya;
    background-color: transparent;
}

#prompt {
    spacing: 0px;
    text-color: @grn;
}

#textbox-prompt-colon {
    expand: false;
    str: ":";
    margin: 0px 0.3em 0em 0em;
    text-color: @grn;
}
